.morty, .morty *, .morty *::before, .morty *::after {
    position: absolute;
    left: 170px;
    top: 140px;
  }
  
  .hair {
    background: #99642D;
    border: 2px solid #000;
    border-radius: 47%;
    height: 300px;
    width: 300px;
    left: 150px;
    top: 110px;
  }
  
  .head {
    background: #FFCAA3;
    border: 2px solid #000;
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  
  .left-brow {
    border: 2px solid #000;
    border-radius: 40%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 10px;
    width: 60px;
    left: 95px;
    top: 50px;
    transform: rotate(-18deg);
  }
  
  .right-brow {
    border: 2px solid #000;
    border-radius: 40%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 10px;
    width: 40px;
    left: 230px;
    top: 40px;
    transform: rotate(-5deg);
  }
  
  .eye {
    background: #FFF;
    border: 2px solid #000;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  .eye__left {
     left: 80px;
    top: 75px;
  }
  
  .pupil {
    border: 5px solid #000;
    border-radius: 50%;
  }
  
  .pupil__left {
    left: 30px;
    top: 50px;
  }
  
  .eye__right {
    left: 210px;
    top: 60px;
  }
  
  .pupil__right {
    left: 75px;
    top: 35px;
  }
  
  .nose {
    border: 2px solid #000;
    border-radius: 50%;
    border-left-color: transparent;
    height: 30px;
    width: 50px;
    left: 200px;
    top: 164px;
    transform: rotate(20deg);
  }
  
  .nose-merge {
    background: #FFCAA3;
    height: 37px;
    width: 35px;
    left: -15px;
    top: -5px;
  }
  
.mouth {
    border: 2px solid #000;
    position: absolute;
    width: 75px;
    height: 15px;
    background: rgba(120, 2, 2, 1);
    top: 230px;
    left: 120;
    border-radius: 1020% 450% 1200% 800%;
    box-shadow: inset 0 0 0 1px #000;

}
  
  .ear {
    background: #FFCAA3;
    border: 2px solid #000;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    left: 0px;
    top: 170px;
    transform: rotate(15deg);
    
  }
  .body {
      position: absolute;
      top: 400px;
      left: 220px;
      border-radius: 50% 50% 0 0;
      z-index: -1;
      width: 225px;
      height: 250px;
      background: #fdfe76;
      border: 2.5px solid #000;
  }
body {
    background: #778899;
}